// home > categories-tabs
.categories-tabs {
  // border: 1px solid skyblue;
  // background-color: #fff;

  list-style: none;

  display: flex;
  // gap: 1em;
  margin: 0;
  padding: 0;
  padding-left: $border-radius;

  .category-tab {
    margin: 0;

    a {
      cursor: pointer;
      color: $gray;
      text-decoration: none;
      font-size: $type-size-6;

      padding: 0.6rem 1.6em;
      display: inline-block;
      height: 100%;
      border-radius: $border-radius-sm $border-radius-sm 0 0;

      position: relative;

      &:hover {
        color: #000;
      }
    }

    &.active {
      a {
        font-weight: 600;
        color: #000;
        background-color: #fff;
      }
    }
  }
}

.categories-posts {
  // border: 1px solid red;
  padding: 1rem;
  
  background-color: #fff;
  border-radius: $border-radius;

  .category-post {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      gap: $type-size-5;
    }
  }
}